<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrderMapper">
    <resultMap type="Order" id="dataMap">
        <id property="orderId" column="order_id" jdbcType="NUMERIC"/>
        <result property="orderSid" column="order_sid" jdbcType="VARCHAR"/>
        <result property="paySid" column="pay_sid" jdbcType="VARCHAR"/>
        <result property="payWay" column="pay_way" jdbcType="NUMERIC"/>
        <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
        <result property="goodsNum" column="goods_num" jdbcType="VARCHAR"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="NUMERIC"/>
        <result property="payPrice" column="pay_price" jdbcType="NUMERIC"/>
        <result property="amount" column="amount" jdbcType="NUMERIC"/>
        <result property="buyerName" column="buyer_name" jdbcType="VARCHAR"/>
        <result property="buyerAddress" column="buyer_address" jdbcType="VARCHAR"/>
        <result property="buyerPhone" column="buyer_phone" jdbcType="VARCHAR"/>
        <result property="createId" column="create_id" jdbcType="NUMERIC"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="NUMERIC"/>
    </resultMap>
    <sql id="columns">a.order_id,a.order_sid,a.pay_sid,a.pay_way
		,a.pay_time,a.goods_num,a.goods_name,a.price,a.pay_price,a.amount,a.buyer_name,a.buyer_address
		,a.buyer_phone,a.create_id,a.create_time,a.update_time,a.status
	</sql>

    <select id="get" resultMap="dataMap" parameterType="java.lang.Integer">
        select
        <include refid="columns"/>
        from pn_order a
        where a.order_id = #{id} and a.status &lt; 64
    </select>
</mapper>